.header {
  height: 70px;
  background-color: rgb(165, 233, 168);
}

.header-title {
  color: white !important;
  margin: 10px;
}

.left-col {
  padding: 30px 20px;
  height: 100vh;
}
.left-col-title {
  color: white !important;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: rgb(165, 233, 168);
}

.rightcol {
  height: 800px;
}

#mapDiv {
  padding: 0;
  margin: 0;
  height: calc(100vh - 75px);
}
